<br>
<div class="row.vertical-offset-100" ng-controller="ModelCtrl">
    <div class="col-md-8.col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span translate>Model</span> [{{model.name}}]
                    <a class="btn btn-warning btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       ng-click="save(model._id)" translate>Save</a>
                    <a class="btn btn-primary btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       href="javascript:this.document.graph.up();" translate>Up</a>
                    <a class="btn btn-success btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       href="javascript:this.document.graph.conditions();" translate>Conditions</a>
                    <a class="btn btn-success btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       href="javascript:this.document.graph.classes();" translate>Classes</a>
                    <a class="btn btn-success btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       href="javascript:this.document.graph.dynamics();" translate>Dynamics</a>
                    <a class="btn btn-success btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       href="javascript:this.document.graph.views();" translate>Views</a>
                    <a class="btn btn-success btn-md active"
                       style="float: right; margin-top: 0.5em; margin-right: 0.5em"
                       href="javascript:this.document.graph.project();" translate>Project</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="paper" id="#paper" graph data="model"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="saveModal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-danger">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" translate>Save model</h4>
                </div>
                <div class="modal-body">
                    <p translate>Are you sure you would like to save this model?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal" translate>
                        Cancel
                    </button>
                    <button type="button" ng-click="close(true)" class="btn btn-danger" data-dismiss="modal" translate>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>