<div class="row.vertical-offset-100" id="model-view" ng-controller="ModelCtrl">
    <div class="col-md-8.col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="glyphicon glyphicon-chevron-left" aria-hidden="true"
                       href="#/project/{{model.project._id}}/{{model.project.name}}"></a>
                    <span translate>Model</span> [{{model.name}}]
                    <a class="glyphicon glyphicon-save pull-right" ng-click="save(model._id)"></a>
                    <a class="glyphicon glyphicon-cog pull-right" style="width: 30px;"
                       href="javascript:this.document.graph.project();"></a>
                </h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-warning btn-md active"
                   href="javascript:this.document.graph.add_atomic();" translate>Add atomic</a>
                <a class="btn btn-warning btn-md active"
                   href="javascript:this.document.graph.add_coupled();" translate>Add coupled</a>
                <a class="btn btn-success btn-md active"
                   href="javascript:this.document.graph.views();" translate>Views</a>
                <a class="btn btn-success btn-md active"
                   href="javascript:this.document.graph.dynamics();" translate>Dynamics</a>
                <a class="btn btn-success btn-md active" ng-click="classes()" translate>Classes</a>
                <a class="btn btn-success btn-md active"
                   href="javascript:this.document.graph.conditions();" translate>Conditions</a>
                <a class="btn btn-primary btn-md active"
                   href="javascript:this.document.graph.up();" translate>Up</a>
                <div class="paper" id="#paper" modelgraph graph data="model"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="saveModal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-danger">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" translate>Save model</h4>
                </div>
                <div class="modal-body">
                    <p translate>Are you sure you would like to save this model?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal"
                            translate>
                        Cancel
                    </button>
                    <button type="button" ng-click="close(true)" class="btn btn-danger" data-dismiss="modal" translate>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="atomicModal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-normal">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"><span translate>Atomic model</span> - {{model.model}}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="name" translate>Name</label>
                        <input type="text" id="name" placeholder="{{'Name'|translate}}" ng-model="model.model">
                    </div>
                    <div>
                        <label translate>Dynamics:</label>&nbsp;<span>{{model.dynamics}}</span>&nbsp;&nbsp;
                        <a class="glyphicon glyphicon-edit" ng-click="edit_dynamics()" data-dismiss="modal"></a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal"
                            translate>
                        Cancel
                    </button>
                    <button type="button" ng-click="close(true)" class="btn btn-danger" data-dismiss="modal" translate>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="classesModal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-normal">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"><span translate>Classes</span></h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th translate>Name</th>
                            <th colspan="2" translate>Actions</th>
                        </tr>
                        <tr ng-repeat="class in classes">
                            <td>{{class}}</td>
                            <td style="width: 50px">
                                <span class="glyphicon glyphicon-edit" ng-click="edit(class)"></span>
                            </td>
                            <td style="width: 50px">
                                <span class="glyphicon glyphicon-remove"
                                      ng-click="remove()"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>