<div class="row.vertical-offset-100" ng-controller="WorkspacesCtrl">
    <div class="col-md-8.col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" translate>Workspaces</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-primary btn-md active" ng-click="create()">
                    <i class="glyphicon glyphicon-plus" /><span translate>&nbsp;Create</span>
                </a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th translate>Name</th>
                        <th colspan="3" translate>Actions</th>
                    </tr>
                    <tr ng-repeat="workspace in workspaces">
                        <td>{{workspace.name}}</td>
                        <td style="width: 50px">
                            <span class="glyphicon glyphicon-th-list" ng-click="projects(workspace._id, workspace.name)"></span>
                        </td>
                        <td style="width: 50px">
                            <span class="glyphicon glyphicon-edit" ng-click="edit(workspace._id)"></span>
                        </td>
                        <td style="width: 50px">
                            <span class="glyphicon glyphicon-remove" ng-click="remove(workspace._id, workspace.name)"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="createWorkspaceModal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-normal">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"><span translate>Create workspace</span></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="name" translate>Name</label>
                        <input type="text" id="name" placeholder="{{'Name'|translate}}" ng-model="name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal" translate>
                        Cancel
                    </button>
                    <button type="button" ng-click="close(true)" class="btn btn-danger" data-dismiss="modal" translate>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="removeWorkspaceModal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header-danger">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" translate>Remove workspace</h4>
                </div>
                <div class="modal-body">
                    <p translate>Are you sure you would like to delete this workspace of {{ name }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Cancel')" class="btn btn-default" data-dismiss="modal" translate>
                        Cancel
                    </button>
                    <button type="button" ng-click="close('Remove')" class="btn btn-danger" data-dismiss="modal" translate>
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>